<div class="bottombar">
    <div class="ripple-container  home" matRipple [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" routerLink="/home">
        <i class="material-icons">home</i>
        <span>Home</span>
    </div>
    <div class="ripple-container" matRipple [matRippleUnbounded]="unbounded" [matRippleRadius]="radius">
        <i class="material-icons">explore</i>
        <span>Explore</span>
    </div>
    <div class="ripple-container " matRipple [matRippleUnbounded]="unbounded" [matRippleRadius]="radius">
        <i class="material-icons">subscriptions</i>
        <span>Subscriptions</span>
    </div>
    <div class="ripple-container " matRipple [matRippleUnbounded]="unbounded" [matRippleRadius]="radius">
        <i class="material-icons">video_library</i>
        <span>Collection</span>
    </div>
</div>