.material-icons {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 30px;
  }
.bottombar {
  box-shadow: 0 -6px 7px -6px #888888;
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  white-space: nowrap;
  padding: 0 25px 0 10px;
}
.ripple-container {
  margin: 11px 15px 0 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  height: 100%;
}
.ripple-container.home {
  margin-left: 0px;
}
@media (max-width: 960px) {
  .bottombar {
    display: inline;
  }
}
@media (max-width: 425px) {
    .bottombar .material-icons {
        font-size: 30px;
      }
      .bottombar {
        height: 50px;
        padding-bottom: 3px;
        padding-top: 7.5px;
      }
      .ripple-container {
        margin-top: 0;
      }
      .bottombar span {
        font-size: 11px;
      }
      .bottombar .material-icons {
        font-size: 22px;
      }
}
